<div id = "intro">
  <h1>Welcome to Non[Shall]Profit! - Your nonprofit wizard!</h1>
  <h3>What it is:<h3>
  <h5>A dasboard for nonprofit donations.  From here you can make donations and add subscriptions.</h5>
</div>

<br>
<%= link_to "Donate", new_donation_path, :class=> "btn btn-success", id: "donate", remote: true %>
</br>
